create a .env file inside server folder and do this,
PORT = <PORT NUMBER(5000 is prefered))) port is needed when you run it in localhost
CONNECTION_URL = <MONGODB CLUSTER CONNECTION STRING>
eg:mongodb+srv://<username>:<password>@cluster0.ey5hy.mongodb.net/<databaseName>?retryWrites=true&w=majority
you need to create a database and cluster in mongodb.